<!DOCTYPE html>
<html>
<head>
  <title>Gmengine</title>
  <%= stylesheet_link_tag    "gmengine/application", :media => "all" %>
  <%= javascript_include_tag "gmengine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
